//Contact
.page--contact {
  margin:auto;
  width:100%;

  .contact--center {
    width:50%;
    margin:0 auto;
    text-align:center;

    .contact--title {
      font-size:40px;
      padding-top:50px;
    }

    a {
      text-decoration:none !important;
    }

    .media--icon {
      font-size:200%;
      color:#C0C0C0;
      padding-top: 40px;

      &.fb {
        margin-right:30px;

        &:hover {
          color:#3b5998;
          transition:color 250ms;

        }
      }

      &.mail {
        &:hover {
          color:#551a8b;
          transition:color 250ms;
        }
      }
    }
  }
}

