.page--home {
  background-color: rgb(67, 165, 228);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 92.9vh;

  .page__title {
    color: white;
    font-size: 50px;
    text-align: center;
    left: 0;
    right: 0;
    margin-bottom: 5px;
    position: absolute;
    top: 43%;
    padding: 0;
    margin: 0;

    &:hover {
      color: rgb(58, 112, 222);
    }

    @media (max-width: $s__breakpoint--small) {
      font-size: 40px;
    }

    @media (max-width: 590px) {
      font-size: 30px;
    }

        .page--description {
          font-size: 25px;
          top: 55%;
        }
      }
    }

    @media (max-width: 260px) {
      font-size: 20px;
    }

  .page--description {
    color: white;
    font-size: 40px;
    left: 0;
    right: 0;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 52%;
    height: 100px;

    &:hover {
      color: rgb(109, 145, 218);
    }

    @media (max-width: $s__breakpoint--small) {
        font-size: 35px;
    }

    @media (max-width: 590px) {
          font-size: 25px;
          top: 55%;
    }

    @media (max-height: 550px) {
          top: 55%;
    }

    @media (max-height: 490px) {
          top: 60%;
    }

    @media (max-height: 400px) {
          top: 70%;
    }
  }
