// Review
.page--review {
  color: #404040;

  .review__title {
    text-align: center;
    font-style: bold;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 3px;
    margin: 40px;
  }

  .review__content {
    width: 80%;
    margin: 0 auto;

    .col {
      display: inline-block;

      &.col--1 {
        font-size: 1.5em;
        width: 30%;
        color: green;
        vertical-align: top;

        @media (max-width: $s__breakpoint--large) {
          margin: 10px;
          width: 95%;
        }
      }

      &.col--2 {
        font-size: 1.1em;
        width: 70%;
        margin-bottom: 50px;

        @media (max-width: $s__breakpoint--large) {
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 20px;
          width: 95%;
        }
      }

      @media (max-width: $s__breakpoint--large) {
        display: block;
      }
    }

    // breakpoints for .review__content
    @media (max-width: $s__breakpoint--small) {
      width: 100%;
    }
  }
}